<div class="container">
  <h3>Your Meals Page</h3>

  <ul>
    <div>
      {{#link-to "meals.new"}}Add new meal{{/link-to}}
    </div>
    {{#each model.meals as |mealItem|}}
      <div>
        {{!-- <p>Owner: {{mealItem.ownerUserId}}</p> --}}
        <p>Meal: {{mealItem.text}}</p>
        <p>Eaten At: {{moment-format mealItem.entryDatetime 'MM-DD-YYYY @ HH:mm A'}}</p>
        <p>Calories: {{mealItem.calories}}</p>
      </div>
    {{/each}}
  </ul>
</div>