<div class="container">
  <h3>Your Meals Page</h3>

  <ul class="list-group">
    <li class="list-group-item">
      {{#link-to "meals.new"}}Add new meal{{/link-to}} | {{#link-to "meals.search"}}Search Meals{{/link-to}}
    </li>
    {{#each model.meals as |mealItem|}}
      <li class="list-group-item">
        <p>Meal: {{mealItem.text}}</p>
        <p>Eaten At: {{moment-format mealItem.entryDatetime 'MM-DD-YYYY @ hh:mm A'}}</p>
        <p>Calories: {{mealItem.calories}}</p>
        {{#link-to "meals.edit" mealItem.id}}
          <button class="btn btn-primary">Edit</button>
        {{/link-to}}
        <button class="btn btn-danger" {{action "deleteMeal" mealItem.id}}>Delete</button>

      </li>
    {{/each}}
  </ul>
</div>
<div class="container mt-3">
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-end">
      <li class="page-item">
        {{#link-to 'meals.list' (query-params p=previousPage) class="page-link"}}
          Previous Page
        {{/link-to}}
      </li>
      <li class="page-item">
        {{#link-to 'meals.list' (query-params p=nextPage) class="page-link"}}
          Next Page
        {{/link-to}}
      </li>
    </ul>
  </nav>
</div>