<div class="container">
</div>

<div class="container">
  <h3>Enter New Meal</h3>
  {{#bs-form formLayout=formLayout model=this onSubmit=(route-action "saveMeal") as |form|}}
    {{form.element
      controlType="text"
      label="What did you eat?"
      placeholder="Penne and Sauce"
      property="text"
      required=true
    }}
    {{form.element
      controlType="text"
      label="When did you eat it?"
      placeholder="2018-11-15 12:35 PM"
      property="entryDatetime"
      required=true
    }}
    {{form.element
      controlType="text"
      label="How many calories?"
      placeholder="9001"
      property="calories"
      required=true
    }}
    {{bs-button
      defaultText="Save"
      type="primary"
      buttonType="submit"
    }}
  {{/bs-form}}
</div>