<nav class="navbar navbar-light bg-light">
  {{#link-to 'meals.list' class="navbar-brand"}}Toptal Calorie Tracker{{/link-to}}
  {{#if isAdmin}}
    {{#link-to 'users.list' class="btn btn-outline-info"}}Manage Users{{/link-to}}
  {{else if isUserManager}}
    {{#link-to 'users.list' class="btn btn-outline-info"}}Manage Users{{/link-to}}
  {{/if}}
  {{#if session.isAuthenticated}}
    {{#link-to 'logout' class="btn btn-danger"}}Logout{{/link-to}}
  {{else}}
    {{#link-to 'login' class="btn btn-danger"}}Login{{/link-to}}
  {{/if}}
</nav>
{{outlet}}